<section id="mycard-section">

<div hidden>
  <a routerLink="/apply-card">Click here to apply for a card.</a>
</div>

<div class="container">
    <div class="text-center">
    <div class="well col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
      <div>
        <img src="../../assets/logo.jpg" height="70px" width="70px"> &nbsp; &nbsp;
      </div>
      <div>
        Faysal Ahmmad <br> 
        01675996843 <br> 
        faysal725@diu.edu.bd<br> 
        Danmondi,dhaka
      </div>
    </div>
  </div>
</div>
</section>