<section id="change-password-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="well">
            <fieldset >
              <legend> Account Info</legend>
              <table>
                <tr>
                  <td  class="text-right">
                    <strong> Name :</strong>
                  </td>
                  <td>
                   &nbsp; Faysal Ahmmad
                  </td>
                </tr>
                <tr>
                  <td class="text-right">
                    <strong> Email :</strong>
                  </td>
                  <td>
                      &nbsp; faysalah@mail.com
                  </td>
                </tr>
                <tr>
                  <td class="text-right">
                    <strong> Account Type :</strong>
                  </td>
                  <td>
                      &nbsp; User
                  </td>
                </tr>
              </table>
        </fieldset>
        </div>
        </div>
      </div>
    </div>
  </section>
  