<nav id="navbar123" [class.hide]="!active" class="navbar navbar-default">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand"><i class="fa fa-id-card fa-lg" aria-hidden="true"></i></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <!-- <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/home">Home </a></li>
        </ul> -->

        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/wallet">Wallet</a></li>
          <li routerLinkActive="active"><a routerLink="/card-request">Card View Request</a></li>
          <li routerLinkActive="active"><a routerLink="/card"> My Card</a></li>
        </ul>

        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Card">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>


        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user-circle"></i> Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/changePassword"><i class="fa fa-pencil"></i> Change Password</a></li>
              <li><a routerLink="/info"> <i class="fa fa-info-circle"></i> info</a></li>
              <li><a routerLink="/login"><i class="fa fa-user-times"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
