<!-- <div class="col-md-push-3 col-md-6 col-sm -12 well">
  <form [formGroup]="registrationForm" (ngSubmit)="submitUser()">
    <fieldset>
      <legend>Give Card Information</legend>

      <div class="form-group">
        <select class="form-control" (change)="hello()">
                <option value="12">Daffodil university</option>
                <option value="15" a selected>AIUB university</option>
        </select>
      </div>

      <div class="form-group">
        <label for="fullname">Full Name:</label>
        <input type="password" class="form-control" formControlName="fullname">
      </div>

      <div class="form-group">
        <label for="employeeId">Employee Id:</label>
        <input type="password" class="form-control" formControlName="confirmPassword">
      </div>

      <div class="form-group">
        <label for="designation">Designation:</label>
        <input type="password" class="form-control" formControlName="designation">
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="password" class="form-control" formControlName="email">
      </div>

      <div class="form-group">
        <label for="address">Address:</label>
        <textarea class="form-control" formControlName="address"cols="20" rows="10"></textarea>
      </div>
      <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-primary">Registration</button>
    </fieldset>
  </form>
</div> -->