<div class="col-md-push-1 col-md-8 col-sm-12">
<!-- 
  <div *ngFor="#card of wallet">
    <app-temp-card [name]="Faysal" 
                   [mobile]="01675996843" 
                   [email]="faysal@gmail.com" 
                   [designation]="student" 
                   [address]="Danmondi32,dhaka">
    </app-temp-card>
  </div> -->

  <div class="well" style="width:30rem;">
      
        <div style="float:left">
          <img src="../../assets/logo.jpg" height="70px" width="70px"> &nbsp; &nbsp;
        </div>
        <div >
          Majahar Islam <br>
          01675996843 <br>
          Majharul700@diu.edu.bd<br>
          Danmondi,dhaka
        </div>
     
    </div><div class="well" style="width:30rem;">
        
          <div style="float:left">
            <img src="../../assets/logo.jpg" height="70px" width="70px"> &nbsp; &nbsp;
          </div>
          <div >
            Nahid Hasan <br>
            01675996843 <br>
            faysal725@diu.edu.bd<br>
            Danmondi,dhaka
          </div>
       
      </div><div class="well" style="width:30rem;">
          
            <div style="float:left">
              <img src="../../assets/logo.jpg" height="70px" width="70px"> &nbsp; &nbsp;
            </div>
            <div >
              Ripon sarker <br>
              01675996843 <br>
              ripon666@diu.edu.bd<br>
              Danmondi,dhaka
            </div>
         
        </div><div class="well" style="width:30rem;">
            
              <div style="float:left">
                <img src="../../assets/logo.jpg" height="70px" width="70px"> &nbsp; &nbsp;
              </div>
              <div >
                Suvo porssad <br>
                01675996843 <br>
                suvo669@diu.edu.bd<br>
                Danmondi,dhaka
              </div>
           
          </div><div class="well" style="width:30rem;">
              
                <div style="float:left">
                  <img src="../../assets/logo.jpg" height="70px" width="70px"> &nbsp; &nbsp;
                </div>
                <div >
                  Riham hossain <br>
                  01675996843 <br>
                  riham659@diu.edu.bd<br>
                  Danmondi,dhaka
                </div>
             
            </div>

</div>