<section id="wallet-section">

  <div class="container">

    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="well">
          <div>
            <img src="../../assets/logo.jpg" height="70px" width="70px"> &nbsp; &nbsp;
          </div>
          <div>
            Majahar Islam <br> 
            01675996843 <br>
            Majharul700@diu.edu.bd<br> 
            Danmondi,dhaka
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="well">
          <div>
            <img src="../../assets/logo.jpg" height="70px" width="70px"> &nbsp; &nbsp;
          </div>
          <div>
            Majahar Islam <br> 
            01675996843 <br>
            Majharul700@diu.edu.bd<br> 
            Danmondi,dhaka
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="well">
          <div>
            <img src="../../assets/logo.jpg" height="70px" width="70px"> &nbsp; &nbsp;
          </div>
          <div>
            Majahar Islam <br> 
            01675996843 <br>
            Majharul700@diu.edu.bd<br> 
            Danmondi,dhaka
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="well">
          <div>
            <img src="../../assets/logo.jpg" height="70px" width="70px"> &nbsp; &nbsp;
          </div>
          <div>
            Majahar Islam <br> 
            01675996843 <br>
            Majharul700@diu.edu.bd<br> 
            Danmondi,dhaka
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="well">
          <div>
            <img src="../../assets/logo.jpg" height="70px" width="70px"> &nbsp; &nbsp;
          </div>
          <div>
            Majahar Islam <br> 
            01675996843 <br>
            Majharul700@diu.edu.bd<br> 
            Danmondi,dhaka
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- 
  <div *ngFor="#card of wallet">
    <app-temp-card [name]="Faysal" 
                   [mobile]="01675996843" 
                   [email]="faysal@gmail.com" 
                   [designation]="student" 
                   [address]="Danmondi32,dhaka">
    </app-temp-card>
  </div> -->
